# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\session_3\POO-ii\FizzBuzzSecondTry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
